@font-face {
    font-family: "GothamBook";
    src: url(./gotham/Gotham-Bold.otf) format("truetype");
}

body {
    background: #e8e4dd;
    font-family: 'GothamBook';
    color: #0b1c24;
    width: 100%;

    @media (max-width: 500px) {
        margin: 0;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.header {
    @media (max-width: 890px) {
        padding: 0 22px;
    }

    @media (max-width: 500px) {
        padding: 0;
        padding-top: 8px;
    }
}

.desktop {
    @media (max-width: 890px) {
        display: none;
    }
}

.mobile {
    display: none;
    align-self: center;

    @media (max-width: 890px) {
        display: block;
    }
}

.not-phone {
    display: block;

    @media (max-width: 500px) {
        display: none;
    }
}

.header-logo {
    @media (max-width: 500px) {
        width: 40%;
    }
}

.logo {
    width: 200px;
    align-self: center;

    @media (max-width: 890px) {
        width: 160px;
    }

    @media (max-width: 500px) {
        display: none;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row ;
    border-bottom: 1px solid black;
    height: 90px;
}

.navigation-left {
    width: 20%;
    padding: 20px;
    text-align: left;

    @media (max-width: 890px) {
        display: none;
    }
}

.navigation-center {
    background: #f9ffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px 24px 12px 24px;
    gap: 20px;

    @media (max-width: 500px) {
        padding: 12px;
        gap: 10px;
        align-items: center;
    }
}

.navigation-right {
    width: 20%;
    padding: 20px;
    text-align: right;

    @media (max-width: 890px) {
        display: none;
    }
}

.menu {
    margin-bottom: 8px;

    @media (max-width: 500px) {
        display: none;
    }
}

.menu-item {
    margin: 0 20px;
    cursor: pointer;
}

.background-image {
    max-width: 1156px;
    width: 100%;
    height: auto;

    @media (max-width: 890px) {
        position: absolute;
        top: 0;
    }
}

.mobile-contact-header {
    @media (max-width: 890px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;  
    }    
}

.subheader {
    position: relative;
    margin: 0 22px;

    @media (max-width: 890px) {
        background-image: url('./projekty-budowy-4.png');
        background-size: cover;
        background-position-y: bottom;
    }

    @media (max-width: 500px) {
        margin: 0;
    }
}

.intro {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    color: #092635;
    top: 5%;
    left: 20%;
    line-height: 14px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    padding: 0 10px 20px 10px;

    @media (max-width: 890px) {
        position: relative;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0;
        width: calc(100% - 40px);
        padding: 0 20px 20px 20px;  
    }
}
.title {
    @media (max-width: 890px) {
        font-size: 12px;
        padding-top: 15px;
    }
}

.mobile-header {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc(100% - 40px);
    max-width: 300px;
    background-color: #f9ffff;
    padding: 20px;

    @media (max-width: 890px) {
        max-width: none;
    }
}
.description {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 300px;

    @media (max-width: 890px) {
        max-width: none;
    }
}

.call-to-action-button {
    background-color: #082334;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.bottom-menu {
    background: #f8ffff;
    display: flex;
    flex-direction: row;
    max-width: 1145px;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 24px;

    @media (max-width: 890px) {
        background: rgba(255, 255, 255, 0.9);
    }
}

.bottom-menu-item {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    cursor: pointer;
    background-color: #f9ffff;
    border-radius: 24px;
    padding: 10px;

    @media (max-width: 890px) {
        width: auto;
    }

    @media (max-width: 500px) {
        height: auto;
        border: 1px solid #082334;
    }
}

.bottom-menu-item img {
    height: 75px;
    margin-bottom: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1145px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.oferta {
    display: flex;
    flex-direction: row;
    gap: 40px;
    
    > div {
        flex: 0 1 25em;
    }

    @media (max-width: 890px) {
        flex-direction: column;

        > div {
            flex: auto;
        }
    }
}

.small {
    width: 50px;
    height: 50px;
}

.headline {
    padding-left: 10px;
    background: #f8ffff;
    font-family: 'GothamBook';
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.content-content {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.kontakt {
    display: flex;
    flex-direction: row;
    gap: 80px;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 40px;
    }
}

.footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #082334;
    color:#f8ffff;
    margin: 20px auto;
    max-width: 1145px;
    padding: 10px;
    box-sizing: border-box;
}