@font-face {
    font-family: "GothamBook";
    src: url(./gotham/GothamBold.ttf) format("truetype");
}

body {
    background: #e8e4dd;
    font-family: 'GothamBook';
    color: #0b1c24;
    width: 100%;

    @media only screen and (max-width: 500px) {
        margin: 0;
    }
}

.container {
    margin: auto;
    max-width: 1200px;
}

.header {
    @media only screen and (max-width: 890px) {
        padding: 0 22px;
    }

    @media only screen and (max-width: 500px) {
        padding: 0;
        padding-top: 8px;
    }
}

.mobile {
    display: none;
    align-self: center;

    @media only screen and (max-width: 890px) {
        display: block;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row ;
    border-bottom: 1px solid black;
    height: 90px;
}

.navigation-left {
    width: 20%;
    padding: 20px;
    text-align: left;

    @media only screen and (max-width: 890px) {
        display: none;
    }
}

.navigation-center {
    background: #f9ffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px 24px 12px 24px
}

.navigation-right {
    width: 20%;
    padding: 20px;
    text-align: right;

    @media only screen and (max-width: 890px) {
        display: none;
    }
}

.menu {
    margin-bottom: 8px;

    @media only screen and (max-width: 890px) {
        display: none;
    }
}

.menu-item {
    margin: 0 20px;
}

.background-image {
    max-width: 1156px;
    width: 100%;
}

.body {
    position: relative;
    padding: 0 22px;
}

.intro {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    color: #092635;
    top: 5%;
    left: 20%;
    line-height: 14px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    padding: 0 10px 20px 10px;

    @media only screen and (max-width: 890px) {
        position: relative;
        top: 0;
        left: 0;
        background: #f9ffff;
        border-radius: 0;
        width: calc(100% - 40px);
        padding: 0 20px 20px 20px;
        display: none;
    }
}
.title {
    @media only screen and (max-width: 890px) {
        font-size: 12px;
        padding-top: 15px;
    }
}

.mobile-header {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc(100% - 40px);
    max-width: 300px;
    background-color: #f9ffff;
    padding: 20px;

    @media only screen and (max-width: 890px) {
        max-width: none;
    }
}
.description {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 300px;

    @media only screen and (max-width: 890px) {
        max-width: none;
    }
}

.call-to-action-button {
    background-color: #082334;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.bottom-menu {
    background: #f8ffff;
    display: flex;
    flex-direction: row;
    max-width: 1145px;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 24px;

    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.bottom-menu-item {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
}

.bottom-menu-item img {
    height: 75px;
    margin-bottom: 24px;
}